.about-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.about-text {
    text-align: center;
    color: #213446;
    padding: 40px;
    transition: color 0.7s ease;
}
.about-text h1{
    margin-left: 200px;
    transition: color 0.7s ease;
}
.about-text p {
    transition: color 0.7s ease;
    text-align: justify;
}

.about-img {
    width: 1000px;
    margin: auto;
}
.about-img img {
    width: 250px;
    float: left;
    margin-right: 25px;
}
figcaption{
    text-align: center;
}

/*---Dark Mode---*/
.dark .about-container h1 {
    color: #f8f8f8;
    transition: color 0.7s ease;
}

.dark .about-container p {
    color: #f8f8f8;
    transition: color 0.7s ease;
}
