#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

/* Dark Mode */
.dark * {
    color: #f8f8f8;
    transition: color .6s ease;
}

.App.dark {
    background-color: #3f5162;
    transition: background-color .6s ease;
}

.App.dark h1,
.App.dark h2 {
    color: #f8f8f8;
}

.dark .form-container h2,
.dark .cart-container h2 {
    color: #c4def3;
}

.App.dark h3 {
    color: #213547;
}

.dark .div-footer,
.dark .header {
    background-color: #213547;
    transition: background-color .6s ease;
}

.dark form label {
    color: #213547;
}

.light * {
    transition: color .6s ease, background-color .6s ease;
}