#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

/* Dark Mode */
.dark * {
    color: #f8f8f8;
    transition: color .6s ease;
}

.App.dark {
    background-color: #3f5162;
    transition: background-color .6s ease;
}

.App.dark h1,
.App.dark h2 {
    color: #f8f8f8;
}

.dark .form-container h2,
.dark .cart-container h2 {
    color: #c4def3;
}

.dark .div-footer,
.dark .header {
    background-color: #213547;
    transition: background-color .6s ease;
}

.dark input {
    color: black;
}

.dark form label {
    color: white;
    /* color: #213547; */
}

/* Header */
.dark .search-container button {
    color: #213446;
    background-color: #f8f8f8;
    transition: color .6s ease, background-color .6s ease;
}

.dark .search-container:focus-within {
    border-color: transparent;
    outline: #f8f8f8 solid .5px;
}

.dark .cart {
    transition: stroke .6s ease;
    stroke: #f8f8f8;
}

.dark .cart:hover {
    stroke: #6ba9db
}

.dark .user button {
    color: white;
}

.dark .user button:hover {
    color: #6ba9db;
}

/* Home */
.dark .brands-slider-container {
    /* background-color: #e0dfdf; */
    background: linear-gradient(to right, transparent 0%, #e0dfdf 5%, #e0dfdf 95%, transparent 100%);
}

.light * {
    transition: color .6s ease, background-color .6s ease;
}

/* Filter */
.dark .filter fieldset {
    border-color: #f8f8f8;
}

.dark .filter * {
    color: #f8f8f8;
    transition: color .6s ease;
}

.dark .filter {
    background-color: #213547;
}

/* Card */
.dark .product,
.dark .card {
    background-color: #8197ac;
}

.dark .product svg, .dark .card svg {
    stroke: white
}