.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    padding-left: 15px;
    color: #213446;
    transition: color 0.7s ease;
    /* border-color: #213446; */
}

.filter fieldset {
    display: flex;
    border: .5px solid #213446;
    border-radius: 5px;
    flex-wrap: wrap;
}


.filterField {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.filterField input {
    width: auto !important;
}

.listSizes {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
    column-gap: 20px;
}

fieldset.price input{
    width: 100px;
}

/*---*/
.dark .filter {
    color: #f8f8f8;
    transition: color 0.7s ease;
}

.dark .filter fieldset {
    border: .5px solid #f8f8f8;
    transition: border 0.7s ease;
}

.dark .filter legend {
    color: #f8f8f8;
    transition: color 0.7s ease;
}