.div-footer {
display: flex;
align-items:center;
gap: 20px;
justify-content: space-evenly;
/* bottom: 0; */
left: 0;
width: 100%;
background-color: #f8f8f8; 
padding: 20px; 
box-sizing: border-box;
transition: color 0.7s ease;
transition: background-color 0.7s ease;
/* position: fixed; */
}

.dark .div-footer {
    background-color: #213547;
    transition: background-color 0.7s ease;
}

.dark .div-footer p {
    color: #f8f8f8;
    transition: color 0.7s ease;
}