.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-container h2 {
    font-size: 30px;
    margin: 12px;
    color: #2a7abc;
}

.form h3 {
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    color: crimson
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #e7eaf0;
    border-radius: 6px;
}

.form textarea {
    height: 100px;
}

.custom-upload,
.form input,
.form textarea,
.form select {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    border: transparent;
    /* border: .5px solid #98b4cb; */
    border-radius: 5px;
    font-size: 14px;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    border-color: transparent;
    outline: #6ba9db solid 1px;
}

.img-container,
.category-container,
.size-container {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    margin-top: 5px;
}

.size-container{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 275px;
}

.size {
    display: flex;
    gap: 20px;
}

.size input, .img {
    width: 100px;
}

.custom-upload {
    width: 50%;
    padding: 3px;
    text-align: center;
    background-color: slategray;
    color: white;
    cursor: pointer;
    transition: background-color .25s linear;
}

.custom-upload:hover{
    background-color: steelblue;
}

.file {
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    gap: 7px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

@media(prefers-color-scheme: dark) {
    .form {
        background-color: rgb(37, 67, 93);
    }
}