.header {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 100px;
   margin-right: 20px;
}

.header,
.menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: #f8f8f8;
    align-items: center;

    a {
        padding: 10px;
    }
}

.searchBar{
    display: flex;
    flex-grow: .25;
    background-color: #e0dfdf;
    padding: 7px;
    border: transparent;
    border-radius: 5px;
    font-size: 14px;
    background-image: url('../assets/images/glass.svg');
    background-repeat: no-repeat;
    
}

.searchBar:focus{
    border-color: transparent;
    outline: slategrey solid 1px;
}

.user {
    display: flex;
    gap: 20px;

    a {
        border-radius: 4px;
        transition: background-color .25s linear;
    }
}

.user a:hover {
    color: #6ba9db;
}