.header {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    position: fixed;
    z-index: 10;
}

.header,
.nav,
.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    transition: background-color 0.7s ease;

    a {
        padding: 7px;
        transition: color 0.3s ease;
    }
}

.logo {
    width: 100px;
    margin-right: 20px;
}

/* Search bar */
.search-container {
    display: flex;
    flex-grow: .25;
    border-radius: 4px;
    background-color: #e0dfdf;
}

.search-container button {
    background-color: #213446;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.7s ease, color 0.7s ease;
    color: #f8f8f8;
}

.glass {
    margin-left: 7px;
}

.searchBar {
    display: flex;
    flex-grow: 1;
    padding: 7px;
    background-color: transparent;
    border: transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
}

.searchBar:focus {
    border-color: transparent;
    outline: none;
}

.search-container:focus-within {
    border-color: transparent;
    outline: #213446 solid .5px;
}

/* User */
.user {
    display: flex;
    align-items: center;
}


.cart {
    width: 35px;
    transition: stroke 0.5s ease;
}

.cart:hover {
    stroke: #6ba9db;
    transition: stroke 0.5s ease;
}

/* Dark Mode */
.dark .header {
    background-color: #213547;
    transition: background-color 0.7s ease;
}

.dark .search-container button {
    background-color: #f8f8f8;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #213446;
}

.dark .search-container:focus-within {
    border-color: transparent;
    outline: #f8f8f8 solid .5px;
}

.dark .cart {
    transition: stroke 0.7s ease;
    stroke: #f8f8f8;
}