:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ce8989;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  color: #2a7abc;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}

a:hover {
  color: #6ba9db;
}

section {
  margin: 30px;
}

button,
.btn {
  border-radius: 6px;
  border: .5px solid transparent;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #6ba9db;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover,
.btn:hover {
  background-color: steelblue;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* carrusel de imágenes */
.carrusel-container {
  box-sizing: border-box;
  width: 100vw;
  height: 70vh;
  margin: 0 auto;
}

.slider-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.container-images {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
}

/* .images img, */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  background-image: (90deg, rgba(2,0,36,1) 0%, rgba(33,53,71,0.11808473389355745) 35%, rgba(0, 213, 255, 0.244) 100%);
}

/*Arrows*/
.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  left: 32px;
}

.rightArrow {
  right: 32px;
}

/* dots container */
.dots-container,
.dot-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-container-item {
  margin: 8px 3px;
  font-size: 12px;
  cursor: pointer;
}

.active {
  color: #6ba9db;
}

.h1-use h2, .carrusel-brands-section h2  {
  padding: 25px;
  color:#213547;

}

/* home banners */
.banners {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.banners h2 {
  color: white;
  font-weight: 700;
}

.banner-1,
.banner-2 {
  width: 50%;
  height: 400px;
  background-color: lightslategray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 25px;
  padding-bottom: 25px;
  color: white;
}

.banner-1 {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,53,71,0.11808473389355745) 35%, rgba(0, 213, 255, 0.244) 100%), url("../public/images/Try-On-Event-Vote-Cover-Photo-Anya-Samantha-768x432.jpeg");
}

.banner-2 {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,53,71,0.11808473389355745) 35%, rgba(0, 213, 255, 0.244) 100%), url("public/images/barfussschuhe_titel1_1024x1024.jpeg");
}


.shop-now,
.learn-more {
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor:pointer;
}

/* carrusel marcas */
.carrusel-brands-container {
  width: 100%;
  height: fit-content;
  background-color: lightgray;
}