:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 132px;
  transition: background-color .6s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  color: #2a7abc;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}

a:hover {
  color: #6ba9db;
}

section {
  margin: 30px;
}

button {
  border-radius: 6px;
  border: .9px solid transparent;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: #213446;
  background-color: transparent;
  cursor: pointer;
  transition: color .25s, border-color .25s;
}

.btn {
  color: white;
  background-color: #213446;
  transition: background-color 0.25s;
}

.btn-2{
  border-color: #213446;
}


.btn:hover {
  color:white;
  background-color: steelblue;
  transition: background-color .25s ease;
}

button:hover,
.btn-2:hover{
  color: steelblue;
  border-color: steelblue;
  transition: color .25s, border-color .25s;
}