.filter-cards-container {
    display: flex;
    flex-direction: row;
}

.h1-products h1 {
    color: #213446;
}

.products-container,
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-sizing: border-box;
    width: 100%; */
    gap: 20px;
    margin: 0px 10px 20px 20px;
    padding-bottom: 20px;

    h2 {
        color: black
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.56);
    color: #213446;


    p {
        font-size: 16px;
    }
}

.product span {
    font-weight: 600;
}

.size {
    display: flex;
}

/* Card */
.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    background-color: rgb(214, 225, 235);
    border-radius: 8px;

    p {
        line-height: 2em;
        margin: 0px;
        font-size: 16px;
    }
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
}

.detail button {
    margin: 20px 0px;
}

.product img,
.card img {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
}

.star {
    width: 30px;
    cursor: pointer;
}



fieldset {
    color: #213446;
}

legend {
    color: #213446;
}












/* Responsive */
@media (max-width:770px) {
    .card {
        flex-direction: column;
        width: 70vw;
        height: auto;
    }
}